<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert_X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{421,1445},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,302}</string>
                <key>spriteSourceSize</key>
                <string>{320,302}</string>
                <key>textureRect</key>
                <string>{{1,1283},{320,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert_inside_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,146}</string>
                <key>spriteSourceSize</key>
                <string>{155,146}</string>
                <key>textureRect</key>
                <string>{{323,1283},{155,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{723,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,109}</string>
                <key>spriteSourceSize</key>
                <string>{96,109}</string>
                <key>textureRect</key>
                <string>{{323,1445},{96,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnXacNhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{181,60}</string>
                <key>spriteSourceSize</key>
                <string>{181,64}</string>
                <key>textureRect</key>
                <string>{{709,1445},{181,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,58}</string>
                <key>spriteSourceSize</key>
                <string>{200,58}</string>
                <key>textureRect</key>
                <string>{{513,1283},{200,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{181,60}</string>
                <key>spriteSourceSize</key>
                <string>{181,64}</string>
                <key>textureRect</key>
                <string>{{892,1445},{181,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dang_cap_nhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,20}</string>
                <key>spriteSourceSize</key>
                <string>{230,20}</string>
                <key>textureRect</key>
                <string>{{848,1552},{230,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{723,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadinggame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,185}</string>
                <key>spriteSourceSize</key>
                <string>{194,185}</string>
                <key>textureRect</key>
                <string>{{513,1343},{194,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressPrimary.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,26}</string>
                <key>spriteSourceSize</key>
                <string>{523,26}</string>
                <key>textureRect</key>
                <string>{{323,1556},{523,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressSecond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,20}</string>
                <key>spriteSourceSize</key>
                <string>{518,20}</string>
                <key>textureRect</key>
                <string>{{513,1530},{518,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{2004,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abb2a7f4fc55bfdbd8b425e9fe506c89:ae7ed6a09d36d6249ac5237219f97a73:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
