<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sunny/Sunny/bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,53}</string>
                <key>spriteSourceSize</key>
                <string>{250,53}</string>
                <key>textureRect</key>
                <string>{{1568,1301},{250,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,70}</string>
                <key>spriteSourceSize</key>
                <string>{275,70}</string>
                <key>textureRect</key>
                <string>{{1496,1301},{275,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{1486,1908},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/btn_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,66}</string>
                <key>textureRect</key>
                <string>{{1283,578},{160,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,39}</string>
                <key>spriteSourceSize</key>
                <string>{116,39}</string>
                <key>textureRect</key>
                <string>{{1445,1870},{116,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/btn_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,66}</string>
                <key>spriteSourceSize</key>
                <string>{120,66}</string>
                <key>textureRect</key>
                <string>{{1283,646},{120,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,39}</string>
                <key>spriteSourceSize</key>
                <string>{116,39}</string>
                <key>textureRect</key>
                <string>{{1688,1576},{116,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{1688,1694},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,223}</string>
                <key>spriteSourceSize</key>
                <string>{199,223}</string>
                <key>textureRect</key>
                <string>{{1496,1076},{199,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/btn_replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,67}</string>
                <key>spriteSourceSize</key>
                <string>{161,67}</string>
                <key>textureRect</key>
                <string>{{1623,1507},{161,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,67}</string>
                <key>spriteSourceSize</key>
                <string>{204,67}</string>
                <key>textureRect</key>
                <string>{{1623,1301},{204,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{1717,448},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/fog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/heart0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{1548,1908},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/heart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{1548,1951},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/icon/icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,101}</string>
                <key>spriteSourceSize</key>
                <string>{87,101}</string>
                <key>textureRect</key>
                <string>{{1697,1184},{87,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/icon/icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,106}</string>
                <key>spriteSourceSize</key>
                <string>{87,106}</string>
                <key>textureRect</key>
                <string>{{1697,1076},{87,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/icon/icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,98}</string>
                <key>spriteSourceSize</key>
                <string>{87,98}</string>
                <key>textureRect</key>
                <string>{{1697,1287},{87,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/icon/icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{1586,1685},{100,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/icon/icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,97}</string>
                <key>spriteSourceSize</key>
                <string>{87,97}</string>
                <key>textureRect</key>
                <string>{{1692,1387},{87,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/icon/icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{1492,1804},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/icon/icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1586,1576},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/icon/icon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1594,1889},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sunny/Sunny/loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,34}</string>
                <key>spriteSourceSize</key>
                <string>{445,34}</string>
                <key>textureRect</key>
                <string>{{1717,1},{445,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/loading_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,49}</string>
                <key>spriteSourceSize</key>
                <string>{460,49}</string>
                <key>textureRect</key>
                <string>{{1445,1076},{460,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,339}</string>
                <key>spriteSourceSize</key>
                <string>{496,339}</string>
                <key>textureRect</key>
                <string>{{1445,578},{496,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,432}</string>
                <key>spriteSourceSize</key>
                <string>{575,432}</string>
                <key>textureRect</key>
                <string>{{1283,1},{575,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/txt_gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,45}</string>
                <key>spriteSourceSize</key>
                <string>{330,45}</string>
                <key>textureRect</key>
                <string>{{1445,1538},{330,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/txt_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,45}</string>
                <key>spriteSourceSize</key>
                <string>{180,45}</string>
                <key>textureRect</key>
                <string>{{1539,1578},{180,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/txt_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,45}</string>
                <key>spriteSourceSize</key>
                <string>{224,45}</string>
                <key>textureRect</key>
                <string>{{1492,1578},{224,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/warn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{723,723},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sunny/Sunny/zone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1594,1786},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sunny.png</string>
            <key>size</key>
            <string>{1785,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a023a1635f45a7e7d03bf68a40d00da5:83df2de202903413a772d684de57b2c9:34c3172caf1a83779f174f64d857367b$</string>
            <key>textureFileName</key>
            <string>sunny.png</string>
        </dict>
    </dict>
</plist>
